YellowCubeService_009/YellowCube_WBL_REQUEST_SupplierOrders.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2012 sp1 (http://www.altova.com) by Die Schweizerische Post (Die Schweizerische Post) -->
<!-- 	===========================================================	-->
<!--   ***   WSDL YellowCube -  	(c) Swiss Post Ltd., CH - 3030 Berne				-->
<!--   ***   Version X009 19.11.2014                                                    -->
<!--   ***                                                                              -->
<!--   ***   X007 initial version of this document                                      -->
<!--   ***   X008 No changes in this document                                           -->
<!--   ***   X009 Update Patterns mit erweiterten "Regular Expressions"                 -->
<xs:schema xmlns:wbl="https://service.swisspost.ch/apache/yellowcube/YellowCube_WBL_REQUEST_SupplierOrders.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:altova="http://www.altova.com/xml-schema-extensions" targetNamespace="https://service.swisspost.ch/apache/yellowcube/YellowCube_WBL_REQUEST_SupplierOrders.xsd" elementFormDefault="qualified">
	<xs:element name="WBL">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="wbl:ControlReference"/>
				<xs:element ref="wbl:SupplierOrder"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Version">
		<xs:annotation>
			<xs:appinfo>
				<altova:exampleValues>
					<altova:example value="1.0"/>
					<altova:example value="1.1"/>
					<altova:example value="2.1"/>
					<altova:example value=""/>
				</altova:exampleValues>
			</xs:appinfo>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="1"/>
				<xs:maxLength value="3"/>
				<xs:pattern value="([1-9]{1}[\.]{1}[0-9]{1})"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Type">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="1"/>
				<xs:maxLength value="6"/>
				<xs:whiteSpace value="collapse"/>
				<xs:enumeration value="WBL"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Timestamp">
		<xs:annotation>
			<xs:appinfo>
				<altova:exampleValues>
					<altova:example value="20141118235959"/>
				</altova:exampleValues>
			</xs:appinfo>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:long">
				<xs:totalDigits value="14"/>
				<xs:whiteSpace value="collapse"/>
				<xs:pattern value="((2[0-9][0-9][0-9])|(1[0-9][0-9][0-9]))((0[0-9])|(1[0-2]))(([0-2][0-9])|(3[0-1]))((0[0-9])|(1[0-9])|(2[0-3]))([0-5][0-9][0-5][0-9])"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="SupplierOrderPositions">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="wbl:Position" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="SupplierOrderNo">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="20"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="SupplierOrderHeader">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Plant">
					<xs:annotation>
						<xs:documentation>Lager-ID als Werk-ID gemäss Profil des Distanzhändlers</xs:documentation>
						<xs:appinfo>
							<altova:exampleValues>
								<altova:example value="Y005"/>
								<altova:example value="Y006"/>
								<altova:example value="Y004"/>
								<altova:example value="Y034"/>
							</altova:exampleValues>
						</xs:appinfo>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:normalizedString">
							<xs:length value="4"/>
							<xs:whiteSpace value="collapse"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="SupplierNo">
					<xs:annotation>
						<xs:documentation>Kontonummer des Lieferanten gem. YC-</xs:documentation>
						<xs:appinfo>
							<altova:exampleValues>
								<altova:example value="0000300020"/>
								<altova:example value="0000300004"/>
							</altova:exampleValues>
						</xs:appinfo>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:minLength value="1"/>
							<xs:maxLength value="10"/>
							<xs:whiteSpace value="collapse"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element ref="wbl:SupplierOrderNo">
					<xs:annotation>
						<xs:documentation>Bestell-Nummer des Lieferanten</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="SupplierOrder">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="wbl:SupplierOrderHeader"/>
				<xs:element ref="wbl:SupplierOrderPositions"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Sender">
		<xs:annotation>
			<xs:appinfo>
				<altova:exampleValues>
					<altova:example value="Easyshop77"/>
					<altova:example value="Tradeshop"/>
					<altova:example value="Testshop05"/>
					<altova:example value="YCTest"/>
					<altova:example value="Yctest"/>
				</altova:exampleValues>
			</xs:appinfo>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="1"/>
				<xs:maxLength value="10"/>
				<xs:whiteSpace value="collapse"/>
				<xs:pattern value="([A-Z0-9]{1}[a-z0-9]{1,9})|(YCTest)|(Yctest)|(YELLOWCUBE)|(LOGOS)"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Receiver">
		<xs:annotation>
			<xs:appinfo>
				<altova:exampleValues>
					<altova:example value="YELLOWCUBE"/>
				</altova:exampleValues>
			</xs:appinfo>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="1"/>
				<xs:maxLength value="10"/>
				<xs:whiteSpace value="collapse"/>
				<xs:enumeration value="YELLOWCUBE"/>
				<xs:enumeration value="LOGOS"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="QuantityISO">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="2"/>
				<xs:maxLength value="6"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Quantity">
		<xs:annotation>
			<xs:appinfo>
				<altova:exampleValues>
					<altova:example value="1234567890123.123"/>
					<altova:example value="2323"/>
					<altova:example value="1"/>
				</altova:exampleValues>
			</xs:appinfo>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:decimal">
				<xs:totalDigits value="16"/>
				<xs:fractionDigits value="3"/>
				<xs:whiteSpace value="collapse"/>
				<xs:pattern value="[0-9]{1,13}(\.[0-9]{1,3})?"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Position">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="wbl:PosNo">
					<xs:annotation>
						<xs:documentation>Positions-Nummer. Je Position ein Datensatz. Vorschlag der Positionssequenz 10, 20, 30</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="wbl:ArticleNo">
					<xs:annotation>
						<xs:documentation>Artikelnummer des Kunden</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="wbl:Quantity">
					<xs:annotation>
						<xs:documentation>Verkaufsmenge</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="QuantityISO">
					<xs:annotation>
						<xs:documentation>Verkaufs-Mengeneinheit in ISO-Code. Werte gemäss gültiger, mit Kunde vereinbarter Verkaufsmengenheinheiten</xs:documentation>
						<xs:appinfo>
							<altova:exampleValues>
								<altova:example value="PCE"/>
								<altova:example value="PK"/>
								<altova:example value="BG"/>
								<altova:example value="CA"/>
								<altova:example value="CT"/>
								<altova:example value="PF"/>
							</altova:exampleValues>
						</xs:appinfo>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:normalizedString">
							<xs:minLength value="2"/>
							<xs:maxLength value="6"/>
							<xs:whiteSpace value="collapse"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element ref="wbl:PosText" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Positions-Text.</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="PosText">
		<xs:simpleType>
			<xs:restriction base="xs:normalizedString">
				<xs:maxLength value="132"/>
				<xs:whiteSpace value="collapse"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="PosNo">
		<xs:annotation>
			<xs:appinfo>
				<altova:exampleValues>
					<altova:example value="10"/>
					<altova:example value="20"/>
					<altova:example value="30"/>
				</altova:exampleValues>
			</xs:appinfo>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:int">
				<xs:totalDigits value="6"/>
				<xs:whiteSpace value="collapse"/>
				<xs:pattern value="[0-9]{1,6}"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Plant">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="4"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="OperatingMode">
		<xs:annotation>
			<xs:appinfo>
				<altova:exampleValues>
					<altova:example value="T"/>
				</altova:exampleValues>
			</xs:appinfo>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="1"/>
				<xs:maxLength value="1"/>
				<xs:whiteSpace value="collapse"/>
				<xs:enumeration value="T"/>
				<xs:enumeration value="P"/>
				<xs:enumeration value="D"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Lot">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="15"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="ControlReference">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="wbl:Type">
					<xs:annotation>
						<xs:documentation>Typ - WBL</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="wbl:Sender">
					<xs:annotation>
						<xs:documentation>Absender</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="wbl:Receiver">
					<xs:annotation>
						<xs:documentation>Empfänger YELLOWCUBE oder LOGOS</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="wbl:Timestamp">
					<xs:annotation>
						<xs:documentation>Zeitstempel - JJJJMMTThhmmss</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="wbl:OperatingMode">
					<xs:annotation>
						<xs:documentation>T=Test / P=Production / D=Development</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="wbl:Version">
					<xs:annotation>
						<xs:documentation>Schnittstellenversion</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="CommType" default="SOAP" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Kommunikationstyp SOAP|REST|HTTPS|FTP etc.</xs:documentation>
						<xs:appinfo>
							<altova:exampleValues>
								<altova:example value="SOAP"/>
							</altova:exampleValues>
						</xs:appinfo>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="5"/>
							<xs:whiteSpace value="collapse"/>
							<xs:enumeration value="SOAP"/>
							<xs:enumeration value="REST"/>
							<xs:enumeration value="HTTPS"/>
							<xs:enumeration value="FTP"/>
							<xs:enumeration value="SMTP"/>
							<xs:enumeration value="EMAIL"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="TransControlID" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Reference der Transaktion (wird in der Response wieder verwendet)</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:simpleContent>
							<xs:extension base="xs:normalizedString">
								<xs:attribute name="UniqueFlag" use="optional" default="0">
									<xs:annotation>
										<xs:documentation>Gibt an ob die TransContollID unique ist. Wenn nicht muss zum SAP eine Uniqe ID generiert werden</xs:documentation>
									</xs:annotation>
									<xs:simpleType>
										<xs:restriction base="xs:normalizedString">
											<xs:minLength value="0"/>
											<xs:maxLength value="1"/>
											<xs:whiteSpace value="collapse"/>
											<xs:enumeration value="0"/>
											<xs:enumeration value="1"/>
										</xs:restriction>
									</xs:simpleType>
								</xs:attribute>
							</xs:extension>
						</xs:simpleContent>
					</xs:complexType>
				</xs:element>
				<xs:element name="TransMaxWait" default="10" nillable="false" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Maximale Wartezeit bis Response erwünscht. Die Response kann eine Referenz sein (asynchron) ODER die Response kann vom SAP sein (synchron)</xs:documentation>
						<xs:appinfo>
							<altova:exampleValues>
								<altova:example value="10"/>
								<altova:example value="3600"/>
							</altova:exampleValues>
						</xs:appinfo>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:unsignedInt">
							<xs:minInclusive value="10" fixed="false"/>
							<xs:maxInclusive value="3600" fixed="false"/>
							<xs:totalDigits value="4"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ArticleNo">
		<xs:annotation>
			<xs:appinfo>
				<altova:exampleValues>
					<altova:example value="12345678901234567890123456789012345"/>
					<altova:example value="AE-37263-1"/>
				</altova:exampleValues>
			</xs:appinfo>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="35"/>
				<xs:whiteSpace value="collapse"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
</xs:schema>
