YellowCubeService_009/YellowCubeService_extern_int.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2012 sp1 (http://www.altova.com) by Die Schweizerische Post (Die Schweizerische Post) -->
<!-- 	===========================================================	-->
<!--   ***   WSDL YellowCube -  	(c) Swiss Post Ltd., CH - 3030 Berne				-->
<!--   ***   Version 1.00 05.01.2015                                                    -->
<!--   ***                                                                              -->
<!--   ***   1.00 initial version                                                       -->
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="https://service.swisspost.ch/apache/yellowcube/YellowCubeService.wsdl" xmlns:wab="https://service.swisspost.ch/apache/yellowcube/YellowCube_WAB_REQUEST_Warenausgangsbestellung.xsd" xmlns:warr="https://service.swisspost.ch/apache/yellowcube/YellowCube_WAR_RESPONSE_GoodsIssueReply.xsd" xmlns:art="https://service.swisspost.ch/apache/yellowcube/YellowCube_ART_REQUEST_Artikelstamm.xsd" xmlns:bar="https://service.swisspost.ch/apache/yellowcube/YellowCube_BAR_RESPONSE_ArticleList.xsd" xmlns:gen="https://service.swisspost.ch/apache/yellowcube/YellowCube_GEN_RESPONSE_General.xsd" xmlns:gen_s="https://service.swisspost.ch/apache/yellowcube/YellowCube_GEN_STATUS_REQUEST_General.xsd" xmlns:war_r="https://service.swisspost.ch/apache/yellowcube/YellowCube_WAR_REQUEST_GoodsIssueReply.xsd" xmlns:bar_r="https://service.swisspost.ch/apache/yellowcube/YellowCube_BAR_REQUEST_ArticleList.xsd" xmlns:wbl="https://service.swisspost.ch/apache/yellowcube/YellowCube_WBL_REQUEST_SupplierOrders.xsd" xmlns:wba="https://service.swisspost.ch/apache/yellowcube/YellowCube_WBA_RESPONSE_GoodsReceiptReply.xsd" xmlns:wba_r="https://service.swisspost.ch/apache/yellowcube/YellowCube_WBA_REQUEST_GoodsReceiptReply.xsd" name="YellowCubeService" targetNamespace="https://service.swisspost.ch/apache/yellowcube/YellowCubeService.wsdl">
	<types>
		<schema xmlns="http://www.w3.org/2001/XMLSchema">
			<import namespace="https://service.swisspost.ch/apache/yellowcube/YellowCube_WAB_REQUEST_Warenausgangsbestellung.xsd" schemaLocation="YellowCube_WAB_REQUEST_Warenausgangsbestellung.xsd"/>
			<import namespace="https://service.swisspost.ch/apache/yellowcube/YellowCube_WAR_RESPONSE_GoodsIssueReply.xsd" schemaLocation="YellowCube_WAR_RESPONSE_GoodsIssueReply.xsd"/>
			<import namespace="https://service.swisspost.ch/apache/yellowcube/YellowCube_ART_REQUEST_Artikelstamm.xsd" schemaLocation="YellowCube_ART_REQUEST_Artikelstamm.xsd"/>
			<import namespace="https://service.swisspost.ch/apache/yellowcube/YellowCube_BAR_RESPONSE_ArticleList.xsd" schemaLocation="YellowCube_BAR_RESPONSE_ArticleList.xsd"/>
			<import namespace="https://service.swisspost.ch/apache/yellowcube/YellowCube_GEN_RESPONSE_General.xsd" schemaLocation="YellowCube_GEN_RESPONSE_General.xsd"/>
			<import namespace="https://service.swisspost.ch/apache/yellowcube/YellowCube_GEN_STATUS_REQUEST_General.xsd" schemaLocation="YellowCube_GEN_STATUS_REQUEST_General.xsd"/>
			<import namespace="https://service.swisspost.ch/apache/yellowcube/YellowCube_WAR_REQUEST_GoodsIssueReply.xsd" schemaLocation="YellowCube_WAR_REQUEST_GoodsIssueReply.xsd"/>
			<import namespace="https://service.swisspost.ch/apache/yellowcube/YellowCube_BAR_REQUEST_ArticleList.xsd" schemaLocation="YellowCube_BAR_REQUEST_ArticleList.xsd"/>
			<import namespace="https://service.swisspost.ch/apache/yellowcube/YellowCube_WBL_REQUEST_SupplierOrders.xsd" schemaLocation="YellowCube_WBL_REQUEST_SupplierOrders.xsd"/>
			<import namespace="https://service.swisspost.ch/apache/yellowcube/YellowCube_WBA_RESPONSE_GoodsReceiptReply.xsd" schemaLocation="YellowCube_WBA_RESPONSE_GoodsReceiptReply.xsd"/>
			<import namespace="https://service.swisspost.ch/apache/yellowcube/YellowCube_WBA_REQUEST_GoodsReceiptReply.xsd" schemaLocation="YellowCube_WBA_REQUEST_GoodsReceiptReply.xsd"/>
		</schema>
	</types>
	<message name="WAB_Request">
		<part name="WAB" element="wab:WAB"/>
	</message>
	<message name="WAB_Response">
		<part name="WAB_Response" element="gen:GEN_Response"/>
	</message>
	<message name="WAB_STATUS_Request">
		<part name="WAB_STATUS" element="gen_s:GEN_STATUS"/>
	</message>
	<message name="WAB_STATUS_Response">
		<part name="WAB_S_Response" element="gen:GEN_Response"/>
	</message>
	<message name="WAR_Request">
		<part name="WAR_Request" element="war_r:WAR_Request"/>
	</message>
	<message name="WAR_Response">
		<part name="WAR" element="warr:WAR_List"/>
	</message>
	<message name="ART_Request">
		<part name="ART" element="art:ART"/>
	</message>
	<message name="ART_Response">
		<part name="ART_Response" element="gen:GEN_Response"/>
	</message>
	<message name="ART_STATUS_Request">
		<part name="ART_STATUS_Request" element="gen_s:GEN_STATUS"/>
	</message>
	<message name="ART_STATUS_Response">
		<part name="ART_S_Response" element="gen:GEN_Response"/>
	</message>
	<message name="BAR_Request">
		<part name="BAR_Request" element="bar_r:BAR_Request"/>
	</message>
	<message name="BAR_Response">
		<part name="BAR_Response" element="bar:BAR"/>
	</message>
	<message name="WBL_Request">
		<part name="WBL" element="wbl:WBL"/>
	</message>
	<message name="WBL_Response">
		<part name="WBL_Response" element="gen:GEN_Response"/>
	</message>
	<message name="WBL_STATUS_Request">
		<part name="WBL_STATUS" element="gen_s:GEN_STATUS"/>
	</message>
	<message name="WBL_STATUS_Response">
		<part name="WBL_S_Response" element="gen:GEN_Response"/>
	</message>
	<message name="WBA_Request">
		<part name="WBA_Request" element="wba_r:WBA_Request"/>
	</message>
	<message name="WBA_Response">
		<part name="WBA" element="wba:WBA_List"/>
	</message>
	<portType name="YellowCube_PortType">
		<operation name="CreateYCCustomerOrder">
			<input message="tns:WAB_Request"/>
			<output message="tns:WAB_Response"/>
		</operation>
		<operation name="GetYCCustomerOrderStatus">
			<input message="tns:WAB_STATUS_Request"/>
			<output message="tns:WAB_STATUS_Response"/>
		</operation>
		<operation name="GetYCCustomerOrderReply">
			<input message="tns:WAR_Request"/>
			<output message="tns:WAR_Response"/>
		</operation>
		<operation name="InsertArticleMasterData">
			<input message="tns:ART_Request"/>
			<output message="tns:ART_Response"/>
		</operation>
		<operation name="GetInsertArticleMasterDataStatus">
			<input message="tns:ART_STATUS_Request"/>
			<output message="tns:ART_STATUS_Response"/>
		</operation>
		<operation name="GetInventory">
			<input message="tns:BAR_Request"/>
			<output message="tns:BAR_Response"/>
		</operation>
		<operation name="CreateYCSupplierOrder">
			<input message="tns:WBL_Request"/>
			<output message="tns:WBL_Response"/>
		</operation>
		<operation name="GetYCSupplierOrderStatus">
			<input message="tns:WBL_STATUS_Request"/>
			<output message="tns:WBL_STATUS_Response"/>
		</operation>
		<operation name="GetYCSupplierOrderReply">
			<input message="tns:WBA_Request"/>
			<output message="tns:WBA_Response"/>
		</operation>
	</portType>
	<binding name="YellowCube_Binding" type="tns:YellowCube_PortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="CreateYCCustomerOrder">
			<soap:operation soapAction="CreateYCCustomerOrder" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="GetYCCustomerOrderStatus">
			<soap:operation soapAction="GetYCCustomerOrderStatus" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="GetYCCustomerOrderReply">
			<soap:operation soapAction="GetYCCustomerOrderReply" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="InsertArticleMasterData">
			<soap:operation soapAction="InsertArticleMasterData" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="GetInsertArticleMasterDataStatus">
			<soap:operation soapAction="GetInsertArticleMasterDataStatus" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="GetInventory">
			<soap:operation soapAction="GetInventory" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="CreateYCSupplierOrder">
			<soap:operation soapAction="CreateYCSupplierOrder" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="GetYCSupplierOrderStatus">
			<soap:operation soapAction="GetYCSupplierOrderStatus" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="GetYCSupplierOrderReply">
			<soap:operation soapAction="GetYCSupplierOrderReply" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
	</binding>
	<service name="YellowCube_Service">
		<documentation>YellowCube Webservice</documentation>
		<port name="YellowCube_Port" binding="tns:YellowCube_Binding">
			<soap:address location="https://service-test.swisspost.ch/apache/yellowcube-int/e-comm-services"/>
		</port>
	</service>
</definitions>
