YellowCubeService_009/YellowCube_WBA_RESPONSE_GoodsReceiptReply.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2012 sp1 (http://www.altova.com) by Die Schweizerische Post (Die Schweizerische Post) -->
<!-- 	===========================================================	-->
<!--   ***   WSDL YellowCube -  	(c) Swiss Post Ltd., CH - 3030 Berne				-->
<!--   ***   Version X009 19.11.2014                                                    -->
<!--   ***                                                                              -->
<!--   ***   X007 initial version of this document                                      -->
<!--   ***   X008 No changes in this document                                           -->
<!--   ***   X009 No changes in this document                                           -->
<xs:schema xmlns:wba="https://service.swisspost.ch/apache/yellowcube/YellowCube_WBA_RESPONSE_GoodsReceiptReply.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:altova="http://www.altova.com/xml-schema-extensions" targetNamespace="https://service.swisspost.ch/apache/yellowcube/YellowCube_WBA_RESPONSE_GoodsReceiptReply.xsd" elementFormDefault="qualified">
	<xs:element name="WBA_List">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="wba:WBA" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>	
	<xs:element name="WBA">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="wba:ControlReference"/>
				<xs:element ref="wba:GoodsReceipt"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Version">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="1"/>
				<xs:maxLength value="3"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Type">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="1"/>
				<xs:maxLength value="6"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Timestamp">
		<xs:simpleType>
			<xs:restriction base="xs:long">
				<xs:totalDigits value="14"/>
				<xs:pattern value="((2[0-9][0-9][0-9])|(1[0-9][0-9][0-9]))((0[0-9])|(1[0-2]))(([0-2][0-9])|(3[0-1]))((0[0-9])|(1[0-9])|(2[0-3]))([0-5][0-9][0-5][0-9])"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="GoodsReceiptList">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="wba:GoodsReceiptDetail" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="BookingVoucherYear">
		<xs:annotation>
			<xs:documentation>Jahr des Material-Beleges im Format JJJJ</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="4"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="GoodsReceiptHeader">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="wba:BookingVoucherID"/>
				<xs:element ref="wba:BookingVoucherYear"/>
				<xs:element ref="wba:SupplierNo"/>
				<xs:element ref="wba:SupplierOrderNo" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Bestellnummer - entspricht WBL-Auftrag</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="GoodsReceipt">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="wba:GoodsReceiptHeader"/>
				<xs:element ref="wba:GoodsReceiptList"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="BVPosNo">
		<xs:simpleType>
			<xs:restriction base="xs:int">
				<xs:totalDigits value="6"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Sender">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="1"/>
				<xs:maxLength value="10"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Receiver">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="1"/>
				<xs:maxLength value="10"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="YCLot">
		<xs:annotation>
			<xs:documentation>Interne Chargennummer von YellowCube</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="10"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Lot">
		<xs:annotation>
			<xs:documentation>Chargennummer des Herstellers,
falls vom DH als chargenpflichtig definiert</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="15"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="MovePlant">
		<xs:annotation>
			<xs:documentation>Lager-ID als Werk-ID des Abgebendes/Empfangeden Werkes gemäss Profil des Distanzhändlers</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="4"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="StorageLocation">
		<xs:annotation>
			<xs:documentation>Lagerbereich als Ziel-/Quell-Lagerort: YROD=YC Received on Dock
YAFS=YC Available for Sales</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="4"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Plant">
		<xs:annotation>
			<xs:documentation>Lager-ID als Werk-ID gemäss Profil des Distanzhändlers</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="4"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="GoodsReceiptDetail">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="wba:BVPosNo">
					<xs:annotation>
						<xs:documentation>Positions-Nummer. Je Position ein Datensatz. Vorschlag der Positionssequenz 10, 20, 30</xs:documentation>
					</xs:annotation>
				</xs:element>
				<!--				<xs:element ref="wba:SupplierOrderPosNo" minOccurs="0"/>  -->
				<xs:element ref="wba:SupplierOrderPosNo"/>
				<xs:element ref="wba:YCArticleNo">
					<xs:annotation>
						<xs:documentation>Interne YellowCube ArtikelNummer</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="wba:ArticleNo" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Artikelnummer des Distanzhändlers</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="wba:EAN" minOccurs="0">
					<xs:annotation>
						<xs:documentation>EAN-Nummer des Artikels</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="wba:YCLot" minOccurs="0"/>
				<xs:element ref="wba:Lot" minOccurs="0"/>
				<xs:element ref="wba:Plant">
					<xs:annotation>
						<xs:documentation>Lager-ID als Werk-ID des Abgebendes/Empfangeden Werkes gemäss Profil des Distanzhändlers</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="wba:StorageLocation"/>
				<xs:element ref="wba:TransactionType" minOccurs="0"/>
				<xs:element ref="wba:StockType" minOccurs="0"/>
				<xs:element ref="wba:QuantityUOM"/>
				<xs:element ref="wba:EndOfDeliveryFlag"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="TransactionType">
		<xs:annotation>
			<xs:documentation>Bewegungsart (Bestandsführung) gemäss Werteliste.</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:int">
				<xs:totalDigits value="3"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="BookingVoucherID">
		<xs:annotation>
			<xs:documentation>Material-Beleg ID innerhalb des YellowCube-Lagers</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="10"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="OperatingMode">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="1"/>
				<xs:maxLength value="1"/>
				<xs:enumeration value="T"/>
				<xs:enumeration value="P"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="EAN">
		<xs:annotation>
			<xs:documentation>EAN-Nummer des Artikels</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="18"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="SupplierNo">
		<xs:annotation>
			<xs:documentation>Kontonummer des Lieferanten</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="10"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="ControlReference">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="wba:Type">
					<xs:annotation>
						<xs:documentation>Typ - WBA</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="wba:Sender">
					<xs:annotation>
						<xs:documentation>Absender</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="wba:Receiver">
					<xs:annotation>
						<xs:documentation>Empfänger</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="wba:Timestamp">
					<xs:annotation>
						<xs:documentation>Zeitstempel - JJJJMMTThhmmss</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="wba:OperatingMode">
					<xs:annotation>
						<xs:documentation>T=Test / P=Production</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="wba:Version">
					<xs:annotation>
						<xs:documentation>Schnittstellenversion</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="YCArticleNo">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="18"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="SupplierOrderNo">
		<xs:annotation>
			<xs:documentation>Bestellnummer</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="20"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="SupplierOrderPosNo">
		<xs:annotation>
			<xs:documentation>Positions-Nummer der Bestellung</xs:documentation>
			<xs:appinfo>
				<altova:exampleValues>
					<altova:example value="000010"/>
					<altova:example value="000020"/>
				</altova:exampleValues>
			</xs:appinfo>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:int">
				<xs:totalDigits value="6"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="EndOfDeliveryFlag">
		<xs:annotation>
			<xs:documentation>Endlieferungskennzeichen. 1=Lieferabschluss
0=Noch weitere Positionen???</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="1"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="ArticleNo">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="40"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="StockType">
		<xs:annotation>
			<xs:documentation>Bestandsart gemäss Liste
X - Qualitätsprüfung
S - Gesperrt
2 - Qualitätsprüfung
3 - Gesperrt
0 oder „ „ - Frei verwendbar
F - Frei verwendbar</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="1"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="QuantityUOM">
		<xs:annotation>
			<xs:documentation>Anzahl in der Mengen-Einheit</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="wba:Float13v3">
					<xs:attribute name="QuantityISO" use="required">
						<xs:annotation>
							<xs:appinfo>
								<altova:exampleValues>
									<altova:example value="PCE"/>
								</altova:exampleValues>
							</xs:appinfo>
						</xs:annotation>
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="3"/>
								<xs:minLength value="1"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<!--Float13v3-->
	<xs:simpleType name="Float13v3">
		<xs:restriction base="xs:decimal">
			<xs:fractionDigits value="3"/>
			<xs:totalDigits value="16"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
