YellowCubeService_005/YellowCube_ART_REQUEST_Artikelstamm.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- 	===========================================================	-->
<!--   ***   WSDL YellowCube -  	(c) Swiss Post Ltd., CH - 3030 Berne				-->
<!--   ***   Version X005 08.10.2014                                                    -->
<!--   ***                                                                              -->
<!--   ***   X002 Clean up from initial version                                         -->
<!--   ***   X003 New URI Namespaces                                                    -->
<!--   ***   X005 New Namespace                                                         -->
<xs:schema xmlns:art="https://service.swisspost.ch/apache/yellowcube/YellowCube_ART_REQUEST_Artikelstamm.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:altova="http://www.altova.com/xml-schema-extensions" targetNamespace="https://service.swisspost.ch/apache/yellowcube/YellowCube_ART_REQUEST_Artikelstamm.xsd" elementFormDefault="qualified">
	<xs:element name="ART">
		<xs:annotation>
			<xs:documentation>Artikelstamm (données marchandises/(Données de base d'article, article master data)</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="art:ControlReference">
					<xs:annotation>
						<xs:documentation>Kontrollsatz</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="art:ArticleList">
					<xs:annotation>
						<xs:documentation>Artikelliste</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ControlReference">
		<xs:annotation>
			<xs:documentation>Kontroll-Datensatz für das Routing der Datei/Message</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Type">
					<xs:annotation>
						<xs:documentation>Typ - ART</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:minLength value="1"/>
							<xs:maxLength value="6"/>
							<xs:enumeration value="ART"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="Sender">
					<xs:annotation>
						<xs:documentation>Absender</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:minLength value="1"/>
							<xs:maxLength value="10"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="Receiver">
					<xs:annotation>
						<xs:documentation>Empfänger YELLOWCUBE</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:minLength value="1"/>
							<xs:maxLength value="10"/>
							<xs:enumeration value="YELLOWCUBE"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="Timestamp">
					<xs:annotation>
						<xs:documentation>Zeitstempel - JJJJMMTThhmmss</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:unsignedLong">
							<xs:totalDigits value="14"/>
							<xs:pattern value="((2[0-9][0-9][0-9])|(1[0-9][0-9][0-9]))((0[0-9])|(1[0-2]))(([0-2][0-9])|(3[0-1]))((0[0-9])|(1[0-9])|(2[0-3]))([0-5][0-9][0-5][0-9])"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="OperatingMode">
					<xs:annotation>
						<xs:documentation>T=Test / P=Production</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:minLength value="1"/>
							<xs:maxLength value="1"/>
							<xs:enumeration value="T"/>
							<xs:enumeration value="P"/>
							<!-- Testsystem -->
							<!-- Produktivsystem -->
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="Version">
					<xs:annotation>
						<xs:documentation>Schnittstellenversion</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:minLength value="1"/>
							<xs:maxLength value="3"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="CommType" default="SOAP" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Kommunikationstyp SOAP|REST|HTTPS|FTP</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="5"/>
							<xs:minLength value="1"/>
							<xs:whiteSpace value="collapse"/>
							<xs:enumeration value="SOAP"/>
							<xs:enumeration value="REST"/>
							<xs:enumeration value="HTTPS"/>
							<xs:enumeration value="FTP"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="TransControlID" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Reference der Transaktion (wird in der Response wieder verwendet)</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:attribute name="UniqueFlag" use="optional" default="0">
							<xs:annotation>
								<xs:documentation>Gibt an ob die TransContollID unique ist. Wenn nicht muss zum SAP eine Uniqe ID generiert werden</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:normalizedString">
									<xs:minLength value="0"/>
									<xs:maxLength value="1"/>
									<xs:whiteSpace value="collapse"/>
									<xs:enumeration value="0"/>
									<xs:enumeration value="1"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
					</xs:complexType>
				</xs:element>
				<xs:element name="TransMaxWait" default="10" nillable="false" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Maximale Wartezeit bis Response erwünscht. Die Response kann eine Referenz sein (asynchron) ODER die Response kann vom SAP sein (synchron)</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:unsignedInt">
							<xs:minInclusive value="10" fixed="false"/>
							<xs:maxInclusive value="3600" fixed="false"/>
							<xs:totalDigits value="4"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ArticleList">
		<xs:annotation>
			<xs:documentation>Artikelliste</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:annotation>
					<xs:documentation>Nur ein einziger Artikel ist erlaubt pro Request</xs:documentation>
				</xs:annotation>
				<xs:element ref="art:Article"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Article">
		<xs:annotation>
			<xs:documentation>Artikel</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ChangeFlag">
					<xs:annotation>
						<xs:documentation>U=Update / I=Insert / D=Deactivate</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:token">
							<xs:minLength value="1"/>
							<xs:maxLength value="1"/>
							<xs:enumeration value="U"/>
							<xs:enumeration value="D"/>
							<xs:enumeration value="I"/>
							<!-- Import -->
							<!-- Löschen -->
						</xs:restriction>
					</xs:simpleType>
					<!--dd-->
				</xs:element>
				<xs:element name="DepositorNo">
					<xs:annotation>
						<xs:documentation>Einlagerer-Nr., YellowCube-Kunden-Nr.</xs:documentation>
						<xs:appinfo>
							<altova:exampleValues>
								<altova:example value="0000054321"/>
								<altova:example value="0000010154"/>
							</altova:exampleValues>
						</xs:appinfo>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:normalizedString">
							<xs:minLength value="1"/>
							<xs:maxLength value="10"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="PlantID">
					<xs:annotation>
						<xs:documentation>Lager-ID als Werk-ID gemäss Profil des Distanzhändlers</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:annotation>
							<xs:appinfo>
								<altova:exampleValues>
									<altova:example value="Y004"/>
									<altova:example value="Y001"/>
								</altova:exampleValues>
							</xs:appinfo>
						</xs:annotation>
						<xs:restriction base="xs:normalizedString">
							<xs:length value="4"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="ArticleNo">
					<xs:annotation>
						<xs:documentation>Artikel-Nr., Hersteller-Teile-Nr.</xs:documentation>
						<xs:appinfo>
							<altova:exampleValues>
								<altova:example value="66230012"/>
								<altova:example value="AB-233-22341-1"/>
								<altova:example value="A-123456789012345678901234567890-23"/>
							</altova:exampleValues>
						</xs:appinfo>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:normalizedString">
							<xs:minLength value="1"/>
							<xs:maxLength value="35"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="BaseUOM" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Basismengen-Einheit 
[PCE|PA|etc.]</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:simpleContent>
							<xs:extension base="xs:string"/>
						</xs:simpleContent>
					</xs:complexType>
				</xs:element>
				<xs:element name="NetWeight" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Nettogewicht</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:simpleContent>
							<xs:extension base="art:Float13v3">
								<xs:attribute name="ISO" type="art:ISO" use="required">
									<xs:annotation>
										<xs:documentation>[KGM|GRM|MGM]</xs:documentation>
									</xs:annotation>
								</xs:attribute>
							</xs:extension>
						</xs:simpleContent>
					</xs:complexType>
				</xs:element>
				<xs:element name="BatchMngtReq" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Chargenpflicht
0=No / 1=Yes</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="1"/>
							<xs:enumeration value="0"/>
							<xs:enumeration value="1"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="MinRemLife" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Restlaufzeit</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="4"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="PeriodExpDateType" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Leer = Tag (default); 1 = Woche; 2 = Monat; 3 = Jahr</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="1"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="SerialNoFlag" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Seriennummer-Erfassung 1=Ja/0=Nein </xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="1"/>
							<xs:enumeration value="0"/>
							<xs:enumeration value="1"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element ref="art:UnitsOfMeasure" maxOccurs="3"/>
				<xs:element ref="art:ArticleDescriptions">
					<xs:annotation>
						<xs:documentation>Artikelbeschrebung</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="UnitsOfMeasure">
		<xs:annotation>
			<xs:documentation>Basismengen-Einheiten und Ausprägung Masse und Gewichte; Bei AlternateUnitISO Stück (PCE) Zähler/Nenner 1:1 (Pflichteintrag)</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="EAN" minOccurs="0">
					<xs:annotation>
						<xs:documentation>EAN=European Article Number; Europäischer Produkte-Barcode</xs:documentation>
						<xs:appinfo>
							<altova:exampleValues>
								<altova:example value="761012345678901234"/>
								<altova:example value="7610123456789"/>
								<altova:example value=""/>
							</altova:exampleValues>
						</xs:appinfo>
					</xs:annotation>
					<xs:complexType>
						<xs:simpleContent>
							<xs:extension base="art:EANvalue">
								<xs:attribute name="EANType" use="required">
									<xs:annotation>
										<xs:appinfo>
											<altova:exampleValues>
												<altova:example value="HE"/>
											</altova:exampleValues>
										</xs:appinfo>
										<xs:documentation>Standard "HE"</xs:documentation>
									</xs:annotation>
									<xs:simpleType>
										<xs:restriction base="art:EANType">
											<xs:length value="2"/>
										</xs:restriction>
									</xs:simpleType>
								</xs:attribute>
							</xs:extension>
						</xs:simpleContent>
					</xs:complexType>
				</xs:element>
				<xs:element name="AlternateUnitISO">
					<xs:annotation>
						<xs:documentation>Alterantive Basismengen-Einheit; PCE für Stück (Standard)</xs:documentation>
						<xs:appinfo>
							<altova:exampleValues>
								<altova:example value="PCE"/>
							</altova:exampleValues>
						</xs:appinfo>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:normalizedString">
							<xs:maxLength value="6"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="AltNumeratorUOM" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Zähler - Alternative Basismenge</xs:documentation>
						<xs:appinfo>
							<altova:exampleValues>
								<altova:example value="1"/>
								<altova:example value="12"/>
								<altova:example value="20"/>
							</altova:exampleValues>
						</xs:appinfo>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:normalizedString">
							<xs:maxLength value="6"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="AltDenominatorUOM" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Nenner - Alternative Basismenge</xs:documentation>
						<xs:appinfo>
							<altova:exampleValues>
								<altova:example value="1"/>
							</altova:exampleValues>
						</xs:appinfo>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:normalizedString">
							<xs:maxLength value="6"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="GrossWeight" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Bruttogewicht</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:simpleContent>
							<xs:extension base="art:Float13v3">
								<xs:attribute name="ISO" type="art:ISO" use="required">
									<xs:annotation>
										<xs:documentation>[KGM|GRM|MGM]</xs:documentation>
									</xs:annotation>
								</xs:attribute>
							</xs:extension>
						</xs:simpleContent>
					</xs:complexType>
				</xs:element>
				<xs:element name="Length" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Länge</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:simpleContent>
							<xs:extension base="art:Float13v3">
								<xs:attribute name="ISO" type="art:ISO" use="required">
									<xs:annotation>
										<xs:documentation>[MMT|CMT|MTR|...]</xs:documentation>
									</xs:annotation>
								</xs:attribute>
							</xs:extension>
						</xs:simpleContent>
					</xs:complexType>
				</xs:element>
				<xs:element name="Width" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Breite</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:simpleContent>
							<xs:extension base="art:Float13v3">
								<xs:attribute name="ISO" type="art:ISO" use="required">
									<xs:annotation>
										<xs:documentation>[MMT|CMT|MTR|...]</xs:documentation>
									</xs:annotation>
								</xs:attribute>
							</xs:extension>
						</xs:simpleContent>
					</xs:complexType>
				</xs:element>
				<xs:element name="Height" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Höhe</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:simpleContent>
							<xs:extension base="art:Float13v3">
								<xs:attribute name="ISO" type="art:ISO" use="required">
									<xs:annotation>
										<xs:documentation>[MMT|CMT|MTR|...]</xs:documentation>
									</xs:annotation>
								</xs:attribute>
							</xs:extension>
						</xs:simpleContent>
					</xs:complexType>
				</xs:element>
				<xs:element name="Volume" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Volumen</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:simpleContent>
							<xs:extension base="art:Float13v3">
								<xs:attribute name="ISO" type="art:ISO" use="required">
									<xs:annotation>
										<xs:documentation>[CMQ|MTQ|...]</xs:documentation>
									</xs:annotation>
								</xs:attribute>
							</xs:extension>
						</xs:simpleContent>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ArticleDescriptions">
		<xs:annotation>
			<xs:documentation>Artikelbeschreibungen je Sprache ("de|fr|it|en")</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="art:ArticleDescription" maxOccurs="4"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ArticleDescription">
		<xs:annotation>
			<xs:documentation>Artikelbeschreibung je Sprache; mind. in "de" für Deutsch für YellowCube-Oftringen</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="art:ArticleDescription">
					<xs:attribute name="ArticleDescriptionLC">
						<xs:annotation>
							<xs:documentation>[de|fr|it|en]</xs:documentation>
						</xs:annotation>
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:length value="2"/>
								<xs:enumeration value="de"/>
								<xs:enumeration value="fr"/>
								<xs:enumeration value="it"/>
								<xs:enumeration value="en"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<!-- *****   Common datatypes for YellowCube   *****  -->
	<!--  ISO-CodeTabelle für Mass- und Verkaufsmengen-Einheiten -->
	<xs:simpleType name="ISO">
		<xs:annotation>
			<xs:documentation> Einheiten ISO-CodeTabelle</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="3"/>
			<xs:enumeration value="LTR"/>
			<xs:enumeration value="BA"/>
			<xs:enumeration value="GRM"/>
			<xs:enumeration value="KGM"/>
			<xs:enumeration value="MGM"/>
			<xs:enumeration value="MMT"/>
			<xs:enumeration value="CM"/>
			<xs:enumeration value="CMK"/>
			<xs:enumeration value="CMQ"/>
			<xs:enumeration value="CMT"/>
			<xs:enumeration value="M"/>
			<xs:enumeration value="MTR"/>
			<xs:enumeration value="M3"/>
			<xs:enumeration value="MTK"/>
			<xs:enumeration value="MTQ"/>
			<xs:enumeration value="GR"/>
			<xs:enumeration value="GRA"/>
			<xs:enumeration value="EUR"/>
			<xs:enumeration value="EWP"/>
			<xs:enumeration value="STK"/>
		</xs:restriction>
	</xs:simpleType>
	<!--EANValue-->
	<xs:simpleType name="EANvalue">
		<xs:annotation>
			<xs:appinfo>
				<altova:exampleValues>
					<altova:example value="5902013936077"/>
					<altova:example value="76100123"/>
					<altova:example value="761006789012345671"/>
				</altova:exampleValues>
			</xs:appinfo>
			<xs:documentation>EAN-Barcode (meist 13 stellig; je nach Typ 8-18 stellig)</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="18"/>
			<xs:pattern value="([0-9]{8,18})?"/>
		</xs:restriction>
	</xs:simpleType>
	<!--EANType-->
	<xs:simpleType name="EANType">
		<xs:annotation>
			<xs:documentation>Typen EAN Codes</xs:documentation>
			<xs:appinfo>
				<altova:exampleValues>
					<altova:example value="HE"/>
				</altova:exampleValues>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:normalizedString">
			<xs:maxLength value="2"/>
			<xs:enumeration value="E5"/>
			<xs:enumeration value="EA"/>
			<xs:enumeration value="HE"/>
			<xs:enumeration value="HK"/>
			<xs:enumeration value="I6"/>
			<xs:enumeration value="IC"/>
			<xs:enumeration value="IE"/>
			<xs:enumeration value="IK"/>
			<xs:enumeration value="SA"/>
			<xs:enumeration value="SG"/>
			<xs:enumeration value="UC"/>
			<xs:enumeration value="VC"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- Float10v2-->
	<xs:simpleType name="Float10v2">
		<xs:annotation>
			<xs:documentation>FlieskommaZahl Bsp. 1234567890.12</xs:documentation>
			<xs:appinfo>
				<altova:exampleValues>
					<altova:example value="1234567890.12"/>
				</altova:exampleValues>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:decimal">
			<xs:totalDigits value="12"/>
			<xs:fractionDigits value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<!--Float13v3-->
	<xs:simpleType name="Float13v3">
		<xs:annotation>
			<xs:documentation>FlieskommaZahl Bsp. 1234567890123.123</xs:documentation>
			<xs:appinfo>
				<altova:exampleValues>
					<altova:example value="1234567890123.123"/>
				</altova:exampleValues>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:decimal">
			<xs:totalDigits value="16"/>
			<xs:fractionDigits value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<!--ArticleDescription-->
	<xs:simpleType name="ArticleDescription">
		<xs:annotation>
			<xs:documentation>Artikelbeschreibung, mindestens "de"</xs:documentation>
			<xs:appinfo>
				<altova:exampleValues>
					<altova:example value="Schuhe braun, Wildleder"/>
				</altova:exampleValues>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="40"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
