YellowCubeService_005/YellowCube_WAB_REQUEST_Warenausgangsbestellung.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2012 sp1 (http://www.altova.com) by Die Schweizerische Post (Die Schweizerische Post) -->
<!-- 	===========================================================	-->
<!--   ***   WSDL YellowCube -  	(c) Swiss Post Ltd., CH - 3030 Berne				-->
<!--   ***   Version X005 08.10.2014                                                    -->
<!--   ***                                                                              -->
<!--   ***   X002 Clean up from initial version                                         -->
<!--   ***   X003 New URI Namespaces                                                    -->
<!--   ***   X004 Enumerations added xs:patern und annotations; Element im Order ShippingInterface ergänzt (noch keine TradeXpress-Verwendung        -->
<!--   ***   X005 New Namespace                                                         -->
<xs:schema xmlns:wab="https://service.swisspost.ch/apache/yellowcube/YellowCube_WAB_REQUEST_Warenausgangsbestellung.xsd" xmlns:altova="http://www.altova.com/xml-schema-extensions" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="https://service.swisspost.ch/apache/yellowcube/YellowCube_WAB_REQUEST_Warenausgangsbestellung.xsd" elementFormDefault="qualified">
	<xs:element name="WAB">
		<xs:annotation>
			<xs:documentation>Warenausgangsbestellung</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="wab:ControlReference">
					<xs:annotation>
						<xs:documentation>Kontrollsatz</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="wab:Order">
					<xs:annotation>
						<xs:documentation>Artikelliste</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ControlReference">
		<xs:annotation>
			<xs:documentation>KontrollDatensatz</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Type">
					<xs:annotation>
						<xs:documentation>Typ - WAB</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:minLength value="1"/>
							<xs:maxLength value="6"/>
							<xs:enumeration value="WAB"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="Sender">
					<xs:annotation>
						<xs:documentation>Absender als DepositorID im Format Xxxxxxxxxxx</xs:documentation>
						<xs:appinfo>
							<altova:exampleValues>
								<altova:example value="Easyshop"/>
								<altova:example value="Smartshop1"/>
							</altova:exampleValues>
						</xs:appinfo>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:normalizedString">
							<xs:minLength value="1"/>
							<xs:maxLength value="10"/>
							<xs:pattern value="([0-9A-Za-z]{4,9})"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="Receiver">
					<xs:annotation>
						<xs:documentation>Empfänger YELLOWCUBE</xs:documentation>
						<xs:appinfo>
							<altova:exampleValues>
								<altova:example value="YELLOWCUBE"/>
								<altova:example value="LOGOS"/>
							</altova:exampleValues>
						</xs:appinfo>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:minLength value="1"/>
							<xs:maxLength value="10"/>
							<xs:enumeration value="YELLOWCUBE"/>
							<xs:enumeration value="LOGOS"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="Timestamp">
					<xs:annotation>
						<xs:documentation>Zeitstempel - JJJJMMTThhmmss</xs:documentation>
						<xs:appinfo>
							<altova:exampleValues>
								<altova:example value="20131101185959"/>
							</altova:exampleValues>
						</xs:appinfo>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:unsignedLong">
							<xs:totalDigits value="14"/>
							<xs:pattern value="((2[0-9][0-9][0-9])|(1[0-9][0-9][0-9]))((0[0-9])|(1[0-2]))(([0-2][0-9])|(3[0-1]))((0[0-9])|(1[0-9])|(2[0-3]))([0-5][0-9][0-5][0-9])"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="OperatingMode">
					<xs:annotation>
						<xs:documentation>T=Test / P=Production</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:minLength value="1"/>
							<xs:maxLength value="1"/>
							<xs:enumeration value="T"/>
							<xs:enumeration value="P"/>
							<!-- Testsystem -->
							<!-- Produktivsystem -->
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="Version">
					<xs:annotation>
						<xs:documentation>Schnittstellenversion in der Form 1.0, etc.</xs:documentation>
						<xs:appinfo>
							<altova:exampleValues>
								<altova:example value="1.0"/>
								<altova:example value="1.1"/>
							</altova:exampleValues>
						</xs:appinfo>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:minLength value="1"/>
							<xs:maxLength value="3"/>
							<xs:pattern value="([1-9][^0-9][0-9])"/>
							<xs:enumeration value="1.0"/>
							<xs:enumeration value="1.1"/>
							<xs:enumeration value="1.2"/>
							<xs:enumeration value="1.3"/>
							<xs:enumeration value="1.4"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="CommType" default="SOAP" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Kommunikationstyp SOAP|REST|HTTPS|FTP etc.</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="5"/>
							<xs:minLength value="1"/>
							<xs:whiteSpace value="collapse"/>
							<xs:enumeration value="SOAP"/>
							<xs:enumeration value="REST"/>
							<xs:enumeration value="HTTPS"/>
							<xs:enumeration value="FTP"/>
							<xs:enumeration value="SMTP"/>
							<xs:enumeration value="EMAIL"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="TransControlID" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Reference der Transaktion (wird in der Response wieder verwendet)</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:simpleContent>
							<xs:extension base="xs:normalizedString">
								<xs:attribute name="UniqueFlag" use="optional" default="0">
									<xs:annotation>
										<xs:documentation>Gibt an ob die TransContollID unique ist. Wenn nicht muss zum SAP eine Uniqe ID generiert werden</xs:documentation>
									</xs:annotation>
									<xs:simpleType>
										<xs:restriction base="xs:normalizedString">
											<xs:minLength value="0"/>
											<xs:maxLength value="1"/>
											<xs:whiteSpace value="collapse"/>
											<xs:enumeration value="0"/>
											<xs:enumeration value="1"/>
										</xs:restriction>
									</xs:simpleType>
								</xs:attribute>
							</xs:extension>
						</xs:simpleContent>
					</xs:complexType>
				</xs:element>
				<xs:element name="TransMaxWait" default="10" nillable="false" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Maximale Wartezeit bis Response erwünscht. Die Response kann eine Referenz sein (asynchron) ODER die Response kann vom SAP sein (synchron)</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:unsignedInt">
							<xs:minInclusive value="10" fixed="false"/>
							<xs:maxInclusive value="3600" fixed="false"/>
							<xs:totalDigits value="4"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Order">
		<xs:annotation>
			<xs:documentation>Bestellung</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="wab:OrderHeader"/>
				<xs:element ref="wab:PartnerAddress"/>
				<xs:element ref="wab:ValueAddedServices" maxOccurs="unbounded"/>
				<xs:element ref="wab:OrderPositions"/>
				<xs:element ref="wab:OrderDocuments" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Versanddokumente pdf/pcl (WAB-Beilage) </xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="OrderHeader">
		<xs:annotation>
			<xs:documentation>Bestellung</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="DepositorNo">
					<xs:annotation>
						<xs:documentation>Distanzhändler-ID gemäss Anmeldung Yellow-Cube</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:minLength value="1"/>
							<xs:maxLength value="10"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="CustomerOrderNo">
					<xs:annotation>
						<xs:documentation>Bestellnummer des Kunden (externe AuftragsReferenz-Nummer)</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:normalizedString">
							<xs:minLength value="1"/>
							<xs:maxLength value="35"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="CustomerOrderDate">
					<xs:annotation>
						<xs:documentation>Bestelldatum des Kunden im Format: YYYYMMDD</xs:documentation>
						<xs:appinfo>
							<altova:exampleValues>
								<altova:example value="20131027"/>
							</altova:exampleValues>
						</xs:appinfo>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="8"/>
							<xs:pattern value="(2[0-9][0-9][0-9])((0[0-9])|(1[0-2]))(([0-2][0-9])|(3[0-1]))"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="PartnerAddress">
		<xs:annotation>
			<xs:documentation>Adresse</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="wab:Partner" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Partner">
		<xs:annotation>
			<xs:documentation>Adresse</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="PartnerType">
					<xs:annotation>
						<xs:documentation>WE=Warenempfänger (Im Standard YellowCube wird nur eine Partnerrolle neben dem Aufgeber unterstützt.</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:normalizedString">
							<xs:maxLength value="2"/>
							<xs:minLength value="2"/>
							<xs:enumeration value="WE"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="PartnerNo">
					<xs:annotation>
						<xs:documentation>Kundennummer des Empfängers. Ist zusammen mit der ID des Distanzhändlers (DepositorNo) eindeutig.</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:normalizedString">
							<xs:maxLength value="10"/>
							<xs:minLength value="1"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="PartnerReference" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Referenz des Partners</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="50"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="Title" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Anrede</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:normalizedString">
							<xs:maxLength value="15"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="Name1">
					<xs:annotation>
						<xs:documentation>Name</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:normalizedString">
							<xs:maxLength value="35"/>
							<xs:minLength value="1"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="Name2" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Name2 Zusatz</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:normalizedString">
							<xs:maxLength value="35"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="Name3" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Name3 Zusatz</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:normalizedString">
							<xs:maxLength value="35"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="Name4" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Name4 Zusatz</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:normalizedString">
							<xs:maxLength value="35"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="Street">
					<xs:annotation>
						<xs:documentation>Strasse inkl. Hausnummer</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:normalizedString">
							<xs:maxLength value="35"/>
							<xs:minLength value="1"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="CountryCode">
					<xs:annotation>
						<xs:documentation>Ländercode nach ISO-CountryCode ISO 3166-1</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:normalizedString">
							<xs:maxLength value="2"/>
							<xs:minLength value="2"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="ZIPCode">
					<xs:annotation>
						<xs:documentation>Postleitzahl, in der Schweiz 4-stellig.</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:normalizedString">
							<xs:maxLength value="10"/>
							<xs:minLength value="4"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="City">
					<xs:annotation>
						<xs:documentation>Ort</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:normalizedString">
							<xs:maxLength value="35"/>
							<xs:minLength value="1"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="POBox" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Postfach</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:normalizedString">
							<xs:maxLength value="10"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="PhoneNo" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Telefon Nummer</xs:documentation>
						<xs:appinfo>
							<altova:exampleValues>
								<altova:example value="+41 58 338 11 11"/>
								<altova:example value="0041583381111"/>
								<altova:example value="+41 58 338 11 11"/>
								<altova:example value="058 338 11 11"/>
								<altova:example value=""/>
							</altova:exampleValues>
						</xs:appinfo>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:normalizedString">
							<xs:maxLength value="16"/>
							<xs:pattern value="([+]?[0-9\s]{6,16})?"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="MobileNo" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Mobile Nummer</xs:documentation>
						<xs:appinfo>
							<altova:exampleValues>
								<altova:example value="+41 79 338 11 11"/>
								<altova:example value="0041793381111"/>
								<altova:example value="+41 79 338 11 11"/>
								<altova:example value="079 338 11 11"/>
								<altova:example value=""/>
							</altova:exampleValues>
						</xs:appinfo>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="16"/>
							<xs:pattern value="([+]?[0-9\s]{6,16})?"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="SMSAvisMobNo" minOccurs="0">
					<xs:annotation>
						<xs:documentation>SMS Mobile Nummer falls für SMS-Avisierung vorgesehen, bitte hier allenfalls wiederholen.
Mobile-Nr.:0041793020467 ohne Lehrschlag</xs:documentation>
						<xs:appinfo>
							<altova:exampleValues>
								<altova:example value="0041793020467"/>
							</altova:exampleValues>
						</xs:appinfo>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:normalizedString">
							<xs:maxLength value="16"/>
							<xs:pattern value="([0-9]{9,16})?"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="FaxNo" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Fax Nummer. Falls für Fax-Avisierung vorgesehen, bitte Format genau prüfen.
Fax-Nr.:0041583381112 ohne Lehrschlag</xs:documentation>
						<xs:appinfo>
							<altova:exampleValues>
								<altova:example value="0041583389999"/>
							</altova:exampleValues>
						</xs:appinfo>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:normalizedString">
							<xs:maxLength value="16"/>
							<xs:pattern value="([0-9]{9,16})?"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="Email" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Email-Adresse des Partners</xs:documentation>
						<xs:appinfo>
							<altova:exampleValues>
								<altova:example value="a@b.ch"/>
								<altova:example value=""/>
							</altova:exampleValues>
						</xs:appinfo>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="wab:EmailAdress">
							<xs:maxLength value="241"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="LanguageCode">
					<xs:annotation>
						<xs:documentation>Sprachcode</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:normalizedString">
							<xs:enumeration value="de"/>
							<xs:enumeration value="fr"/>
							<xs:enumeration value="it"/>
							<xs:enumeration value="en"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ValueAddedServices">
		<xs:annotation>
			<xs:documentation>Zusatzleistungen</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="wab:AdditionalService"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="AdditionalService">
		<xs:annotation>
			<xs:documentation>Zusatzleistungen</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="BasicShippingServices">
					<xs:annotation>
						<xs:documentation>Basis-Produkte für YellowCube Versand: &quot;ECO&quot;, &quot;PRI&quot;, &quot;ECO LKW&quot;, &quot;PICKUP&quot; (Selbstabholung), &quot;LKW EXPRESS&quot;, &quot;SKB&quot;, &quot;SP SEM&quot; etc.</xs:documentation>
						<xs:appinfo>
							<altova:exampleValues>
								<altova:example value="PRI"/>
								<altova:example value="ECO"/>
								<altova:example value="SEM"/>
								<altova:example value="RETOURE"/>
							</altova:exampleValues>
						</xs:appinfo>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:normalizedString">
							<xs:maxLength value="40"/>
							<xs:minLength value="1"/>
							<xs:enumeration value="RETURN"/>
							<xs:enumeration value="RETOURE"/>
							<xs:enumeration value="PRI"/>
							<xs:enumeration value="ECO"/>
							<xs:enumeration value="SP ECO"/>
							<xs:enumeration value="SP PRI"/>
							<xs:enumeration value="PPR"/>
							<xs:enumeration value="SEM"/>
							<xs:enumeration value="SP SEM"/>
							<xs:enumeration value="SKB"/>
							<xs:enumeration value="SP SKB"/>
							<xs:enumeration value="VL"/>
							<xs:enumeration value="PICKUP"/>
							<xs:enumeration value="LKW ECO"/>
							<xs:enumeration value="LKW PRIO"/>
							<xs:enumeration value="LKW EXPRESS"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="AdditionalShippingServices" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Zusatzleistungen gemäss Postpakete Postlogistics:
SI; AS; BLN; SA; AZS; etc. (BLN beinhaltet SI, deshalb nur BLN alleine übermitteln)</xs:documentation>
						<xs:appinfo>
							<altova:exampleValues>
								<altova:example value="SI"/>
								<altova:example value="AS"/>
								<altova:example value="BLN"/>
								<altova:example value="SA"/>
								<altova:example value="AZS"/>
								<altova:example value="SI;SA"/>
								<altova:example value="SI;AZS"/>
							</altova:exampleValues>
						</xs:appinfo>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:normalizedString">
							<xs:maxLength value="40"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="DeliveryInstructions" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Zustellanweisungen an die Paket-Zustellung gemäss [WSBC] Bsp. ZAW3213;ZAW3219 (Max 5)</xs:documentation>
						<xs:appinfo>
							<altova:exampleValues>
								<altova:example value="ZAW3213"/>
								<altova:example value="ZAW3219"/>
								<altova:example value="ZAW3213;ZAW3219"/>
							</altova:exampleValues>
						</xs:appinfo>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:normalizedString">
							<xs:maxLength value="40"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="FloorNo" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Stockwerk-Bezeichnung für Auslieferung, kann für Paket definiert werden. (wird nicht auf Paket-Etikette gedruckt)</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:normalizedString">
							<xs:maxLength value="35"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="NotificationType" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Medium-Typ der Avisierung
[1=TEL|2=FAX|3=SMS| 4=EMAIL]; NULL-Wert erlaubt.</xs:documentation>
						<xs:appinfo>
							<altova:exampleValues>
								<altova:example value="4"/>
								<altova:example value=""/>
							</altova:exampleValues>
						</xs:appinfo>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:normalizedString">
							<xs:maxLength value="1"/>
							<xs:pattern value="([0-4])?"/>
							<xs:enumeration value="1"/>
							<xs:enumeration value="2"/>
							<xs:enumeration value="3"/>
							<xs:enumeration value="4"/>
							<xs:enumeration value=""/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="NotificationServiceCode" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Art und Zeitpunkt der Avisierungsmeldung gemäss Tabelle 5: Definition Avisierungscodes; NULL-Wert erlaubt.</xs:documentation>
						<xs:appinfo>
							<altova:exampleValues>
								<altova:example value=""/>
								<altova:example value="0"/>
								<altova:example value="1"/>
								<altova:example value="2"/>
								<altova:example value="3"/>
								<altova:example value="256"/>
								<altova:example value="257"/>
								<altova:example value=""/>
							</altova:exampleValues>
						</xs:appinfo>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:pattern value="([0-9]{1,3})?"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="DeliveryDate" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Auslieferdatum, insbesondere im Stückgut-Bereich; NULL-Wert erlaubt.</xs:documentation>
						<xs:appinfo>
							<altova:exampleValues>
								<altova:example value=""/>
								<altova:example value="20140401"/>
							</altova:exampleValues>
						</xs:appinfo>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="8"/>
							<xs:pattern value="((2[0-9][0-9][0-9])((0[0-9])|(1[0-2]))(([0-2][0-9])|(3[0-1])))?"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="DeliveryTimeJIT" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Auslieferzeitpunkt in Stunden/Minuten hh:mm</xs:documentation>
						<xs:appinfo>
							<altova:exampleValues>
								<altova:example value="08:30"/>
								<altova:example value="15:00"/>
								<altova:example value="18:00"/>
								<altova:example value=""/>
							</altova:exampleValues>
						</xs:appinfo>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="5"/>
							<xs:pattern value="(((0[0-9])|(1[0-9])|(2[0-3])):([0-5][0-9]))?"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="DeliveryTimeFrom" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Zuzustellen frühestens ab 08:30 (hh:mm), gilt nur für Frachtsendungen!</xs:documentation>
						<xs:appinfo>
							<altova:exampleValues>
								<altova:example value="08:00"/>
								<altova:example value=""/>
							</altova:exampleValues>
						</xs:appinfo>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="5"/>
							<xs:pattern value="(((0[0-9])|(1[0-9])|(2[0-3])):([0-5][0-9]))?"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="DeliveryTimeTo" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Zuzustellen bis spätestens 18:30 (hh:mm), gilt nur für Frachtsendungen!</xs:documentation>
						<xs:appinfo>
							<altova:exampleValues>
								<altova:example value="11:59"/>
								<altova:example value=""/>
								<altova:example value="23:00"/>
							</altova:exampleValues>
						</xs:appinfo>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="5"/>
							<xs:pattern value="(((0[0-9])|(1[0-9])|(2[0-3])):([0-5][0-9]))?"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="DeliveryPeriodeCode" minOccurs="0">
					<xs:annotation>
						<xs:documentation>1=vormittags; 2=nachmittags; 3=beides-ganztags
(gilt nur für Frachtsendungen)</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:normalizedString">
							<xs:maxLength value="1"/>
							<xs:minLength value="1"/>
							<xs:enumeration value="1"/>
							<xs:enumeration value="2"/>
							<xs:enumeration value="3"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="DeliveryLocation" minOccurs="0">
					<xs:annotation>
						<xs:documentation>ZustellStandort oder spezielle Anweisung in welchem Anbau</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:normalizedString">
							<xs:maxLength value="35"/>
							<xs:minLength value="0"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="CODAmount" type="wab:Float10v2" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Nachnahme-Betrag in CHF (Cash on Delivery) Belegloses Inkasso.</xs:documentation>
						<xs:appinfo>
							<altova:exampleValues>
								<altova:example value="23.15"/>
								<altova:example value="2099.50"/>
							</altova:exampleValues>
						</xs:appinfo>
					</xs:annotation>
				</xs:element>
				<xs:element name="CODAccountNo" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Nachnahme-Kontonummer (Cash on Delivery) Belegloses Verfahren.</xs:documentation>
						<xs:appinfo>
							<altova:exampleValues>
								<altova:example value="010683242"/>
							</altova:exampleValues>
						</xs:appinfo>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:normalizedString">
							<xs:maxLength value="20"/>
							<xs:minLength value="1"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="CODRefNo" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Nachname Referenznummer ohne Leerschlag</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:normalizedString">
							<xs:maxLength value="27"/>
							<xs:minLength value="16"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="FrightShippingFlag" minOccurs="0">
					<xs:annotation>
						<xs:documentation>0 oder leer = keine Frachtsendung (Paketpost - parcel)
1=Ja, Frachtsendung (Stückgut)</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="1"/>
							<xs:enumeration value="0"/>
							<xs:enumeration value="1"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="ShippingInterface" default="WSBC" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Spezielle Versandschnittselle, default WSBC</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:normalizedString">
							<xs:minLength value="1"/>
							<xs:maxLength value="10"/>
							<xs:whiteSpace value="collapse"/>
							<xs:enumeration value="WSBC"/>
							<xs:enumeration value="WEBSTAMP"/>
							<xs:enumeration value="FRIGHT"/>
							<xs:enumeration value="GLSWEB"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="OrderPositions">
		<xs:annotation>
			<xs:documentation>Bestellposition</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="wab:Position" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Position">
		<xs:annotation>
			<xs:documentation>Bestellposition</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="PosNo">
					<xs:annotation>
						<xs:documentation>Positions-Nummer. Je Position ein Datensatz. Vorschlag der Positionssequenz 10, 20, 30</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:integer">
							<xs:totalDigits value="6"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="ArticleNo" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Eindeutige Artikelnummer des Kunden (Unique)</xs:documentation>
						<xs:appinfo>
							<altova:exampleValues>
								<altova:example value="131004001"/>
								<altova:example value="A-123456789012345678901234567890-23"/>
								<altova:example value="66230012"/>
								<altova:example value="AB-233-22341-1"/>
							</altova:exampleValues>
						</xs:appinfo>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:normalizedString">
							<xs:minLength value="1"/>
							<xs:maxLength value="35"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="EAN" minOccurs="0">
					<xs:annotation>
						<xs:documentation>13-stellige EAN Artikelnummer (European ArticleNumber), Muss mit Barcode auf Artikel übereinstimmen.</xs:documentation>
						<xs:appinfo>
							<altova:exampleValues>
								<altova:example value="761012345678901234"/>
								<altova:example value="7610123456789"/>
								<altova:example value="7611600523740"/>
								<altova:example value=""/>
							</altova:exampleValues>
						</xs:appinfo>
					</xs:annotation>
					<xs:simpleType>
						<xs:annotation>
							<xs:appinfo/>
						</xs:annotation>
						<xs:restriction base="wab:EANvalue">
							<xs:maxLength value="18"/>
							<xs:pattern value="([0-9]{8,18})?"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="YCLot" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Chargennummer</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:normalizedString">
							<xs:maxLength value="10"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="Lot" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Lieferanten-Chargennummer</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:normalizedString">
							<xs:maxLength value="15"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="Plant">
					<xs:annotation>
						<xs:documentation>Lager-ID als Werk-ID gemäss Profil des Distanzhändlers</xs:documentation>
						<xs:appinfo>
							<altova:exampleValues>
								<altova:example value="Y001"/>
								<altova:example value="Y004"/>
							</altova:exampleValues>
						</xs:appinfo>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:normalizedString">
							<xs:length value="4"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="Quantity" type="wab:Float13v3">
					<xs:annotation>
						<xs:documentation>Verkaufsmenge</xs:documentation>
						<xs:appinfo>
							<altova:exampleValues>
								<altova:example value="1234567890123.123"/>
							</altova:exampleValues>
						</xs:appinfo>
					</xs:annotation>
				</xs:element>
				<xs:element name="QuantityISO">
					<xs:annotation>
						<xs:documentation>Verkaufs-Mengeneinheit in ISO-Code. Werte gemäss gültiger, mit Kunde vereinbarter Verkaufsmengenheinheiten</xs:documentation>
						<xs:appinfo>
							<altova:exampleValues>
								<altova:example value="KGM"/>
								<altova:example value="GRM"/>
							</altova:exampleValues>
						</xs:appinfo>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:normalizedString">
							<xs:minLength value="2"/>
							<xs:maxLength value="6"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="ShortDescription" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Kurzbeschreibung des Artikels. Wird vorläufig im Standard nicht unterstützt. Nur für spezielle Lieferscheine geplant.</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:normalizedString">
							<xs:maxLength value="40"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="PickingMessage" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Kommisioniertexte. Je Zeile mit einem „*“ unterteilt.</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:normalizedString">
							<xs:maxLength value="132"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="PickingMessageLC" minOccurs="0">
					<xs:annotation>
						<xs:documentation>SprachCode des Meldungstextes: „de“, „fr“, „it“ oder „en“</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:normalizedString">
							<xs:minLength value="2"/>
							<xs:maxLength value="2"/>
							<xs:enumeration value="de"/>
							<xs:enumeration value="fr"/>
							<xs:enumeration value="it"/>
							<xs:enumeration value="en"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="ReturnReason" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Retouren-Grund gemäss YC-Retouren-Code-Liste
z.B. «R06» - Anderer Artikel geliefert als bestellt.</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="3"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="OrderDocuments">
		<xs:annotation>
			<xs:documentation>Lieferbelege</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:choice minOccurs="0">
				<xs:element ref="wab:OrderDocFilenames" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Nur für XML-Message/Datei Interface: Container für Filenamen des externen Lieferbeleges</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="Docs" minOccurs="0" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>Nur für SOAP-Interface: Container für eingebettete Lieferbelege</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="wab:DocType"/>
							<xs:element ref="wab:DocMimeType">
								<xs:annotation>
									<xs:documentation>MIME Typ in der Form als Extention des Lieferbeleges [pdf|pcl] lower case</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element ref="wab:DocStream">
								<xs:annotation>
									<xs:documentation>Binäre Base64 codierte Filedaten des Lieferbeleges</xs:documentation>
								</xs:annotation>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:choice>
			<xs:attribute name="OrderDocumentsFlag" use="required">
				<xs:annotation>
					<xs:documentation>Entscheid: Ausliefer-Dokumente werden mitgeliefert.
1=Ja, Dokument liegt vor und muss in Sendung mitgeliefert werden.
0=Nein, es liegen keine Lieferdokumente vor.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:normalizedString">
						<xs:minLength value="1"/>
						<xs:maxLength value="1"/>
						<xs:enumeration value="1"/>
						<xs:enumeration value="0"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="OrderDocFilename">
		<xs:annotation>
			<xs:documentation>Filenamen des Lieferbelegs</xs:documentation>
			<xs:appinfo>
				<altova:exampleValues>
					<altova:example value="Easyshop77_DN20141001_141001.pdf"/>
					<altova:example value="Shop_ZS4690073511_130927.pcl"/>
					<altova:example value="Shop_LS1310004001_131004.pdf"/>
					<altova:example value="Easyshop77_IV4690073511_141001.pdf"/>
					<altova:example value="Easyshop77_ZS4690073511_141001.pdf"/>
					<altova:example value="Easyshop77_DN4690073511-1_141001.pdf"/>
					<altova:example value="Easyshop77_DN4690073511-2_141008.pdf"/>
				</altova:exampleValues>
			</xs:appinfo>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:normalizedString">
				<xs:maxLength value="50"/>
				<xs:whiteSpace value="collapse"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="OrderDocFilenames">
		<xs:annotation>
			<xs:documentation>Container für Filenamen der Lieferbelege</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="wab:OrderDocFilename" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<!-- *****   Common datatypes for YellowCube   *****  -->
	<!--  ISO-CodeTabelle für Mass- und Verkaufsmengen-Einheiten -->
	<xs:simpleType name="ISO">
		<xs:annotation>
			<xs:documentation> Einheiten ISO-CodeTabelle</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="3"/>
			<xs:enumeration value="LTR"/>
			<xs:enumeration value="BA"/>
			<xs:enumeration value="GRM"/>
			<xs:enumeration value="KGM"/>
			<xs:enumeration value="MGM"/>
			<xs:enumeration value="MMT"/>
			<xs:enumeration value="CM"/>
			<xs:enumeration value="CMK"/>
			<xs:enumeration value="CMQ"/>
			<xs:enumeration value="CMT"/>
			<xs:enumeration value="M"/>
			<xs:enumeration value="MTR"/>
			<xs:enumeration value="M3"/>
			<xs:enumeration value="MTK"/>
			<xs:enumeration value="MTQ"/>
			<xs:enumeration value="GR"/>
			<xs:enumeration value="GRA"/>
			<xs:enumeration value="EUR"/>
			<xs:enumeration value="EWP"/>
			<xs:enumeration value="STK"/>
		</xs:restriction>
	</xs:simpleType>
	<!--EANValue-->
	<xs:simpleType name="EANvalue">
		<xs:restriction base="xs:string">
			<xs:pattern value="([0-9]{8,18})?"/>
		</xs:restriction>
	</xs:simpleType>
	<!--EANType-->
	<xs:simpleType name="EANType">
		<xs:annotation>
			<xs:documentation>Typen EAN Codes</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:normalizedString">
			<xs:maxLength value="2"/>
			<xs:enumeration value="E5"/>
			<xs:enumeration value="EA"/>
			<xs:enumeration value="HE"/>
			<xs:enumeration value="HK"/>
			<xs:enumeration value="I6"/>
			<xs:enumeration value="IC"/>
			<xs:enumeration value="IE"/>
			<xs:enumeration value="IK"/>
			<xs:enumeration value="SA"/>
			<xs:enumeration value="SG"/>
			<xs:enumeration value="UC"/>
			<xs:enumeration value="VC"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- Float10v2-->
	<xs:simpleType name="Float10v2">
		<xs:annotation>
			<xs:documentation>FlieskommaZahl Bsp. 1234567890.12</xs:documentation>
			<xs:appinfo>
				<altova:exampleValues>
					<altova:example value="1234567890.12"/>
				</altova:exampleValues>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:decimal">
			<xs:totalDigits value="12"/>
			<xs:fractionDigits value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<!--Float13v3-->
	<xs:simpleType name="Float13v3">
		<xs:annotation>
			<xs:documentation>FlieskommaZahl Bsp. 1234567890123.123</xs:documentation>
			<xs:appinfo>
				<altova:exampleValues>
					<altova:example value="1234567890123.123"/>
				</altova:exampleValues>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:decimal">
			<xs:totalDigits value="16"/>
			<xs:fractionDigits value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<!--E-Mailadresse Validierung-->
	<xs:simpleType name="EmailAdress">
		<xs:annotation>
			<xs:documentation>E-Mailadresse Validierung</xs:documentation>
			<xs:appinfo>
				<altova:exampleValues>
					<altova:example value="a@b.ch"/>
					<altova:example value=""/>
				</altova:exampleValues>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="241"/>
			<xs:pattern value="([^@]+@[^\.]+\..+)?"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="DocStream" type="xs:base64Binary">
		<xs:annotation>
			<xs:documentation>Binäre Base64 codierte Filedaten</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="DocType">
		<xs:annotation>
			<xs:documentation>Typ des Lieferbeleges</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:normalizedString">
				<xs:maxLength value="2"/>
				<xs:whiteSpace value="collapse"/>
				<xs:enumeration value="LS"/>
				<xs:enumeration value="BL"/>
				<xs:enumeration value="BC"/>
				<xs:enumeration value="DN"/>
				<xs:enumeration value="IV"/>
				<xs:enumeration value="RG"/>
				<xs:enumeration value="FA"/>
				<xs:enumeration value="ZS"/>
				<xs:enumeration value="BP"/>
				<xs:enumeration value="BV"/>
				<xs:enumeration value="PF"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="DocMimeType">
		<xs:annotation>
			<xs:documentation>MIME-Typ als Extention des Lieferbeleges. [pdf|pcl] Inhalt des Streams muss mit der Extention übereinstimmen.</xs:documentation>
			<xs:appinfo>
				<altova:exampleValues>
					<altova:example value="pcl"/>
					<altova:example value="pdf"/>
				</altova:exampleValues>
			</xs:appinfo>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:length value="3"/>
				<xs:whiteSpace value="collapse"/>
				<xs:enumeration value="pdf"/>
				<xs:enumeration value="PDF"/>
				<xs:enumeration value="pcl"/>
				<xs:enumeration value="PCL"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
</xs:schema>
